@{
    ViewBag.Title = "AccessServiceDirectly - Backend1";
}
<h1>AccessServiceDirectly</h1>

<b>Rand value first:</b> @Model.a
<br />
<b>Rand value second:</b> @Model.b
<br />

<b>Add:</b>
<br />
@Model.sum
<br />

<b>Sub:</b>
<br />
@Model.sub
<br />

<b>Mult:</b>
<br />
@Model.mult
<br />

<b>Div:</b>
<br />
@Model.div
<br />