
@{
    ViewBag.Title = "PassUsingViewBag - Backend1";
}

<h1>PassUsingViewData</h1>
<b>Rand value first:</b> @ViewBag.a
<br />
<b>Rand value second:</b> @ViewBag.b
<br />

<b>Add:</b>
<br />
@ViewBag.sum
<br />

<b>Sub:</b>
<br />
@ViewBag.sub
<br />

<b>Mult:</b>
<br />
@ViewBag.mult
<br />

<b>Div:</b>
<br />
@ViewBag.div
<br />